<html>
<head>
{#	<meta http-equiv="refresh" content="20"/>#}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
{#     <a href="{% r'^wizualizacja/raport/' %}" target="_blank"> Raport PDF </a> #}
    
    <title>Wizualizacja systemu modelowania i sterowania instalacją CO</title>

    {% load static %}
    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css">
    {% load static %}
    <link href="{% static "css/dropdown.css" %}" rel="stylesheet" type="text/css">
    {% load static %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
</head>
<body>
	
    <div class="row">
        <div class="col-xs-12">
            <h2 class="main-banner">Wizualizacja systemu modelowania i sterowania instalacją CO</h2>
        </div>
    </div>

    <div class="row parents-parent">
        <div id="fzm-numval" class="col-xs-12 col-sm-4 col-md-2 col-lg-1 numval-parent">
            <div title="Strumień wody opuszczający główny zawór">F<sub>zm</sub> [<sup>t</sup>&frasl;<sub>h</sub>]</div>
            <div class="led-box">
                <div class="led"></div>
            </div>
            <div class="numval">0</div>
            <div class="led-box">
                <div class="led"></div>
            </div>
        </div>
        <div id="to-numval" class="col-xs-12 col-sm-4 col-md-2 col-lg-1 numval-parent">
            <div title="Temperatura powietrza na zewnątrz">T<sub>o</sub> [&deg;C]</div>
            <div class="led-box">
                <div class="led"></div>
            </div>
            <div class="numval">0</div>
            <div class="led-box">
                <div class="led"></div>
            </div>
        </div>
        <div id="tzm-numval" class="col-xs-12 col-sm-4 col-md-2 col-lg-1 numval-parent">
            <div title="Temperatura wody przypływającej z elektrociepłowni">T<sub>zm</sub> [&deg;C]</div>
            <div class="led-box">
                <div class="led led-red-off"></div>
            </div>
            <div class="numval">0</div>
            <div class="led-box">
                <div class="led led-blue-off"></div>
            </div>
        </div>
        <div id="tzco-numval" class="col-xs-12 col-sm-4 col-md-2 col-lg-1 numval-parent">
            <div title="Temperatura wody wypływającej z wymiennika ciepła">T<sub>zco</sub> [&deg;C]</div>
            <div class="led-box">
                <div class="led led-red-off"></div>
            </div>
            <div class="numval">0</div>
            <div class="led-box">
                <div class="led led-blue-off"></div>
            </div>
        </div>
        <div id="th-numval" class="col-xs-12 col-sm-4 col-md-2 col-lg-1 numval-parent">
            <div title="Temperatura kaloryferów w budynku">T<sub>h</sub> [&deg;C]</div>
            <div class="led-box">
                <div class="led led-red-off"></div>
            </div>
            <div class="numval">0</div>
            <div class="led-box">
                <div class="led led-blue-off"></div>
            </div>
        </div>
        <div id="tr-numval" class="col-xs-12 col-sm-4 col-md-2 col-lg-1 numval-parent">
            <div title="Temperatura powietrza wewnątrz budynku">T<sub>r</sub> [&deg;C]</div>
            <div class="led-box">
                <div class="led"></div>
            </div>
            <div class="numval">0</div>
            <div class="led-box">
                <div class="led"></div>
            </div>
        </div>
        <div id="tpco-numval" class="col-xs-12 col-sm-4 col-md-2 col-lg-1 numval-parent">
            <div title="Temperatura wody wracającej do wymiennika ciepła">T<sub>pco</sub> [&deg;C]</div>
                <div class="led-box">
                    <div class="led"></div>
                </div>
                <div class="numval">0</div>
                <div class="led-box">
                    <div class="led"></div>
                </div>
            </div>
        <div id="tpm-numval" class="col-xs-12 col-sm-4 col-md-2 col-lg-1 numval-parent">
            <div title="Temperatura wody wracającej do elektrociepłowni">T<sub>pm</sub> [&deg;C]</div>
            <div class="led-box">
                <div class="led"></div>
            </div>
            <div class="numval">0</div>
            <div class="led-box">
                <div class="led"></div>
            </div>
        </div>
        <div id="report-button" class="col-xs-12 col-sm-4 col-md-2 col-lg-1">
            <button onclick="openTimeDropdownReport()" class="dropbtn">Generuj raport</button>
            <div id="timeUnitsReport" class="dropdown-content">
            	<div onclick="report_day()">Dzien</div>
                <div onclick="report_week()">Tydzień</div>
                <div onclick="report_month()">Miesiąc</div>
                <div onclick="report_all()">Wszystko</div>
            </div>
        </div>
        <div id="building-dropdown" class="col-xs-12 col-sm-4 col-md-2 col-lg-1">
            <button onclick="openBuildingDropdown()" class="dropbtn">Wybierz budynek</button>
            <div id="buildings" class="dropdown-content">
                <div onclick="buildingOne()">Budynek B1</div>
                <div onclick="buildingTwo()">Budynek B2</div>
                <div onclick="buildingThree()">Budynek B3</div>
            </div>
        </div>
        <div id="time-choice" class="col-xs-12 col-sm-4 col-md-2 col-lg-1">
            <button onclick="openTimeDropdown()" class="dropbtn">Wybierz przedział</button>
            <div id="timeUnits" class="dropdown-content">
            	<div onclick="day()">Dzien</div>
                <div onclick="week()">Tydzień</div>
                <div onclick="month()">Miesiąc</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="main-chart" class="col-lg-6 col-xs-12 chart-col"></div>
        <div id="stream-chart" class="col-lg-6 col-xs-12 chart-col"></div>
        <div id="building-chart" class="col-lg-6 col-xs-12 chart-col"></div>
        <div id="outside-chart" class="col-lg-6 col-xs-12 chart-col"></div>
    </div>

</body>
<!--<script type="text/javascript" src="https://cdnjs.com/libraries/chart.js"></script>-->
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

{% load static %}
<script type="text/javascript" src="{% static "js/plotly-latest.min.js" %}"></script>
{% load static %}
<script type="text/javascript" src="{% static "js/num-values-handling.js" %}"></script>
{% load static %}
<script type="text/javascript" src="{% static "js/indicator-handling.js" %}"></script>
{% load static %}
<script type="text/javascript" src="{% static "js/plot-main-temperatures.js" %}"></script>
{% load static %}
<script type="text/javascript" src="{% static "js/plot-stream-chart.js" %}"></script>
{% load static %}
<script type="text/javascript" src="{% static "js/plot-building-data.js" %}"></script>
{% load static %}
<script type="text/javascript" src="{% static "js/plot-outside-temperature.js" %}"></script>
{% load static %}
<script type="text/javascript" src="{% static "js/generate-chart.js" %}"></script>
{% load static %}
<script type="text/javascript" src="{% static "js/timeDropdownReport.js" %}"></script>
{% load static %}
<script type="text/javascript" src="{% static "js/buildingDropdown.js" %}"></script>
{% load static %}
<script type="text/javascript" src="{% static "js/timeDropdown.js" %}"></script>
    
</html>